body{
  margin: 0px;
  background-color:black;
}

.zc-board{
  position: relative;
  width: 1024px; 
  height: 863px; 
  margin: auto; 
  background: url('zjsc/board.jpg') no-repeat;
}

#messagearea{
  position: absolute; 
  top: 65px;
  left: 172px;
  color: rgb(83, 175, 19);
}

table{
  position: absolute;
  left: 173px;
  top: 98px;
  border-spacing: 0px;
}

td{
  width: 94px;
  height: 94px;
}

form {
  position: absolute;
  top: 50px;
  right: 0px;
  padding: 5px;
  background-color: rgb(83, 175, 19);
}

form input {
  background-color: rgb(152, 207, 113);
  border-color: rgb(83, 175, 19);
  font-size: 1em;
}

.hit{
  background: url('zjsc/ship.png') no-repeat center center; 
} 
.miss{
  background: url('zjsc/miss.png') no-repeat center center; 
}
